@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
}

.cards {
  max-width: 25em;
  list-style-type: none;
}

.card-img {
  width: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 25em) {

  .cards {
    max-width: 30em;
  }

  .card-img {
    left: 0%;
    transform: translateX(-0%);
  }

  .card-body {
    display: inline-block;
    position: relative;
    left: 5%;
    transform: translateX(-5%);
  }


}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}

@media only screen and (min-width: 90em) {



}
